.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-post-image.size-article-thumb {
	/*display: inline-block;*/
	float: right;
	max-width: $size__thumb-article-thumb;
	margin-left: 1.5rem;
	margin-bottom: 1rem;
}

.avatar {
	border-radius: 50px;
	max-width: $size__byline-height;
	height: auto;
	margin-right: 6px;
	float: left;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";