.widget {
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			margin: 0 0 10px;
		}
	}
}

.widget-title {
	font-size: 16pt;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 0;
}

.site-content .widget-area .widget {
	margin: 0 0 1.5em;
	padding: 1.5em 0;
	border-bottom: solid 1px $color__border-widget;
}
.site-footer .widget-area .widget {
	display: inline-block;
	width: 23%;
	vertical-align: top;
}

.site-content .widget-area .widget.widget_mailchimpsf_widget {
	background: $color__background-widget;
	padding: 1.5rem;
	border-radius: 8px;
	border-top: solid 5px $color__accent;

	.widget-title {
		font-size: 20pt;
		text-transform: none;
	}

	#mc_subheader {
		@include font-size(0.85);
	}
	#mc_signup_submit {
		background: $color__accent;
		width: 100%;
		margin-top: 0em;
	}

}
