$color__background-body: #f6f6f6;
$color__background-site-header: #379392;
$color__background-article: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widget: #ffffff;

$color__text-screen: #21759b;
$color__text-site-header: #ffffff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4F86C6;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #818896; //#404040;
$color__text-entry-title: #000000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
$color__border-widget: #e7e7e7;