$size__site-main: 95%;
$size__site-sidebar: 25%;
$size__site-max-width: 1100px;

$size__header-height: 70px;
$size__header-footer-gutter: 25px;

$size__thumb-article-thumb: 250px;
$size__byline-height: 30px;

$size__width-tablet: 768px;