.main-navigation {
	/*clear: both;*/
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background: $color__background-submenu;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $size__header-height;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 25px 30px;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.site-navigation {
	float: left;
}

.menu {
	float: right;
}

.site-branding {
	float: left;
	height: $size__header-height;
}

.site-logo {
    max-height: 70px;
	width: auto;
}

.site-title {
	font-size: 1.7rem;
	height: $size__header-height;
	line-height: $size__header-height;
	vertical-align: middle;
	margin: 0 0 0 $size__header-footer-gutter;
	border-bottom: solid 3px $color__border-site-title;

	a {
		text-decoration: none;
		color: $color__text-site-title;
		font-weight: 600;

	}

}

.site-header {
	line-height: 1;
}
