.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	font-size: $font__entry-title;
	font-weight: 600;
	margin-bottom: 0.5rem;
	margin-top: 0;
}
.entry-title a {
	color: $color__text-entry-title;
	text-decoration: none; 
}